@import 'assets/styles/init.scss';

.section-bio {
  $root: &;

  &__main-box {
    position: relative;
    z-index: 1;
    margin-top: rem(100);
    padding: rem(60) rem(40px) rem(20);
    border-radius: rem(8px);
    background: $white;
    box-shadow: 0 4px 37px rgba(0, 0, 0, 5%);
    text-align: center;
    transition: background-color 0.3s linear;
    backdrop-filter: blur(70px);

    h2 {
      margin-top: rem(24);
      margin-bottom: 0;
    }

    h5 {
      margin-top: rem(2);
      margin-bottom: 0;
      color: $gray;
      font-weight: $fw-regular;
      font-size: rem(16);
    }
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 50%;
    width: rem(120);
    height: rem(120);
    padding: rem(5);
    border-radius: 50%;
    background: linear-gradient(45deg, $pink 0%, $little 40%, $little 60%, $blue 100%);
    transform: translate(-50%, -50%);
  }

  &__connect {
    margin-top: rem(16);

    button {
      display: inline-flex;
      gap: rem(4);
      align-items: center;

      @include sp {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
