@import 'assets/styles/init.scss';

.box-subscribe {
  padding: 40px 34px 60px;
  border-radius: 2px;

  /* stylelint-disable-next-line color-no-hex */
  background: #d8edff;

  @include pc {
    padding: 40px 48px 60px;
  }

  &__heading {
    max-width: 217px;
    margin: 0 auto;
    text-align: center;
  }

  &__email {
    margin-top: 40px;

    input {
      height: 40px;
      font-size: 12px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 12px;
    font-size: 12px;
  }
}
