@import 'assets/styles/init.scss';

.section-pack {
  $root: &;

  visibility: visible;

  &__heading {
    color: $blue;
  }

  &__wrapper {
    margin-top: 48px;

    @include pc {
      margin-top: 75px;
    }
  }

  &__column-image {
    @include pc {
      order: 2;
    }
  }

  &__column-info {
    @include pc {
      order: 1;
    }

    @include sp {
      margin-top: 48px;
    }
  }

  div[data-col] {
    @include sp {
      width: 100%;
    }
  }

  &__desc {
    color: $blue;

    @include pc {
      max-width: 460px;
    }
  }

  &__check-list {
    margin-top: 28px;
    margin-bottom: 0;
  }

  &__button {
    margin-top: 28px;
  }
}
