@import 'assets/styles/init.scss';

.backdrop {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($base, 0.7);
  opacity: 0%;
  visibility: hidden;
  transition: opacity $ease, visibility $ease;

  &--show {
    opacity: 100%;
    visibility: visible;
  }

  &:not(&--block) {
    z-index: 999;
    width: 100vw;
    height: 100vh;
  }

  &--block {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}
