@import 'assets/styles/init.scss';

.box-title {
  position: relative;
  border: 1px solid $gray;
  border-radius: 2px;
  background: $white;

  &__title {
    position: absolute;
    top: -15px;
    left: 50%;
    margin: 0;
    padding: 5px 30px;
    background-color: $white;
    font-weight: 400;
    white-space: nowrap;
    transform: translateX(-50%);

    @include sp {
      padding: 5px 15px;
      font-size: 16px;
    }
  }

  &__content {
    padding: 20px 30px;

    @include pc {
      padding: 30px 24px;
    }
  }
}
