@import 'assets/styles/init.scss';

.footer {
  background: $white url('~images/footer-bg.svg') no-repeat bottom right / 44vw auto;

  @include max {
    background-size: 634px auto;
  }

  &__container {
    @include pc {
      padding-bottom: rem(125px);
    }

    @include sp {
      padding-bottom: rem(43px);
    }
  }

  &__wrapper {
    border-top: rem(1px) solid rgba($base, 0.1);

    @include pc {
      padding-top: rem(80px);
    }

    @include sp {
      padding-top: rem(36px);
    }

    > div:not([data-col]) {
      flex-grow: 0;
    }
  }

  &__column-menu {
    @include tablet-up {
      order: 2;
      min-width: 41%;
    }

    @include tablet {
      min-width: 50%;
    }

    @include sp {
      min-width: 100%;
    }
  }

  &__column-subscribe {
    @include tablet-up {
      align-self: flex-end;
      order: 5;
      min-width: 41%;
    }

    @include in-pc {
      min-width: 36%;
    }

    @include tablet {
      min-width: 50%;
    }

    @include sp {
      min-width: 100%;
      margin-bottom: rem(56px);
    }
  }

  &__column-logo {
    @include tablet-up {
      order: 1;
      min-width: 43%;
    }

    @include tablet {
      min-width: 50%;
    }

    @include sp {
      min-width: 60%;
    }
  }

  &__column-social {
    @include tablet-up {
      order: 3;
      min-width: 16%;
    }

    @include tablet {
      min-width: 50%;
    }

    @include sp {
      min-width: 40%;
    }
  }

  &__column-info {
    @include tablet-up {
      align-self: flex-end;
      order: 4;
      min-width: 43%;
    }

    @include tablet {
      min-width: 50%;
      margin-top: rem(30px);
    }

    @include sp {
      min-width: 100%;
      margin-top: rem(56px);
    }
  }

  &__column-copyright {
    @include tablet-up {
      align-self: flex-end;
      order: 6;
      min-width: 16%;
    }

    @include in-pc {
      min-width: 21%;
    }

    @include tablet {
      align-self: flex-end;
      min-width: 50%;
    }

    @include sp {
      min-width: 100%;
      margin-top: rem(30px);
    }

    br {
      @include sp {
        display: none;
      }
    }
  }

  &__menu {
    padding: 0;
    list-style: none;
    columns: 3;
    column-gap: rem(10px);

    @include pc {
      max-width: rem(360px);
      margin: 0 0 rem(83px);
    }

    @include sp {
      margin: 0 0 rem(59px);
    }

    li {
      @include pc {
        margin-bottom: rem(20px);
      }

      @include sp {
        margin-bottom: rem(16px);
      }

      &.active a {
        color: $pink;
      }
    }

    a {
      color: $base;
      font-size: rem(16px);
      text-decoration: none;
      transition: color 0.4s linear;

      &:hover {
        color: $pink;
      }
    }
  }

  &__social-list {
    margin: 0;
    padding: 0;

    a {
      color: $base;
      transition: color 0.3s linear;

      &:hover {
        color: $pink;
      }

      &:not(:last-child) {
        margin-right: rem(24px);
      }
    }
  }

  &__menu-info {
    margin: 0;
    padding: 0;
    list-style: none;

    @include pc {
      max-width: rem(320px);
    }

    li {
      &:not(:first-child) {
        margin-top: rem(12px);
      }

      &:first-child {
        padding-left: rem(24px);
        background: transparent url('~images/icons/mail.svg') no-repeat center left / rem(16px) rem(16px);
      }
    }

    a {
      color: $base;
      text-decoration: none;
      transition: color 0.3s linear;

      &:hover {
        color: $pink;
      }
    }
  }

  &__form {
    width: 100%;
    max-width: rem(310px);
  }

  &__input-group {
    display: flex;
    margin-top: rem(6px);

    button {
      margin-left: rem(8px);
      padding-right: rem(25px);
      padding-left: rem(25px);
    }

    div > input {
      flex: 1 0 0%;
      height: rem(43px);
      border: rem(1px) solid $border;
      font-size: rem(12px);
    }
  }

  &__input {
    flex: 1 0 0%;
  }

  &__copyright {
    font-size: rem(13px);
  }
}
