@import 'assets/styles/init.scss';

.image {
  visibility: inherit;

  &--rounded {
    border-radius: rem(16px);
  }

  &--circle {
    border-radius: 50%;
  }

  &--lazy {
    opacity: 0%;
    transition: 0.4s ease;
  }

  &--loaded {
    opacity: 100%;
  }
}
